body {
	background-color: #C0C0C0;
	color: white;
}
img {
	margin-top: 16px;
}

i{
	color:red;

}
h2 {
	font-family: arial;
	color:black;
}

table {
	
border:2px solid #87CEEB;
margin-left: auto;
margin-right: auto;
width: 300px;
height: 350px;
text-align:center;
font-size: 15px;
color:black;
background-color: white;
}

table#create {
	
border:2px solid #87CEEB;
margin-left: auto;
margin-right: auto;
width: 350px;
height: 450px;
text-align:center;
font-size: 15px;
color:black;
background-color: white;
}



input {
	height: 25px;
	width: 250px;
	background-color: #F5F5F5;


}



input:active {
	border:2px solid #87CEEB;


}


ul{
 
  background-color:WHITE;
  border-right: solid black 2px;
  float:left;
 
   
}


body {
  background-color: #C0C0C0;
}
ul{
 
  border-top: solid #87CEEB 3.5px;
  float:left;
 
   
}


.list1{
  list-style: none;
   position:relative;
    left:2%;
  a{
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    margin-top:15px;
    padding: 5px 5%;
    transform-origin: 50% 50%;
  }
}

.list2{
  list-style: none;
   position:absolute;
    left:35%;
  a{
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    margin-top:15px;
    padding: 5px 5%;
    transform-origin: 50% 50%;
  }
}

.list3{
  list-style: none;
   position:absolute;
    left:70%;
  a{
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    margin-top:15px;
    padding: 5px 5%;
    transform-origin: 50% 50%;
  }
}



.list-vertical{
  width: 19%;
  margin: 15px 3%;
}

.list-zoom{
  a{
    color: #2b2529;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    &:hover{
      
      transform: scale(1.2) translate(15px, 0);
      
    }
    &:active{
      transform: scale(1.1) translate(9px, 0);
      box-shadow: inset 0 0 3px 0 rgba(33,33,33,0.1);
    }
  }
}


